/.idea/
/.curseclient
/usercache.json
/usernamecache.json
/options.txt
/patchouli_data.json
/saves/
/logs/
/mods/
/controllable_natives/
/data/
/xaero/
/XaeroWaypoints_*/
/modernfix/
/.mixin.out/
/screenshots/
/crash-reports/
/ct_dumps/
/immersive_library/
/local/
/.vscode/
/kubejs/documentation/
/tts_cache/
/tfc_structures_datapacks/tfc_structures_main/